* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  p {
    margin: 0;
  }
}

@import "header";
@import "footer";
@import "home";
@import "page_contact";
@import "page_conception";
@import "fonts";
@import "variables";

:root {
  --primary-color: #343f5a;
  --secondary-color: #064cfe;
  --tertiary-color: #0693e3;
  --quaternary-color: #616161;
  --quinary-color: rgba(0, 85, 255, 0.1215686275);
}

// Scrollbar
html {
  scrollbar-color: var(--primary-color) rgba(16, 35, 206, 0.26);
}

.hiddenNow {
  display: none;
}

//-----> Globale pour les pages <-----

.littleTitle {
  color: #0b50fe;
  font-size: clamp(1rem, 0.98rem + 0.091vw, 1.125rem);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  padding-top: 50px;
}

h2 {
  color: #343f5a;
  font-size: clamp(1.5rem, 0.619rem + 3.916vw, 3.125rem);
  font-weight: 500;
  line-height: 1.3em;
  margin: 30px 0;
}

@media (max-width: 1024px) {
  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
}

// =================================================================================================================
//                                                  Page Article du site
// =================================================================================================================

.ast-blog-layout-4-grid .ast-row {
  max-width: 1440px;
  padding: 40px;
}

.ast-separate-container #primary {
  margin: 0;
}

@media (min-width: 768px) {
  #main {
    padding-top: 170px;
    .entry-header {
      margin-top: 50px;
      text-align: center;
    }
    .entry-content {
      margin-bottom: 50px;
    }
    .navigation {
      margin: auto;
      padding: 50px;
      max-width: 1200px;
    }
    #comments {
      display: none;
    }
  }
  .blogStyle #main {
    margin: 0;
    min-height: calc(100vh - 116px);
    @include flexJustify;
    text-align: justify;
    .entry-meta {
      text-align: justify;
    }
  }
  .ast-plain-container.ast-no-sidebar #primary {
    margin: 0;
  }
}

@media (max-width: 767px){
  #main {
    padding-top: 100px;
  }
}