//-----> Partie mixin <-----

@mixin flexJustify {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fontNormal {
    font-size: 18px;
}

//-----> Partie animations <-----

@mixin opa {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-300px);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX(300px);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }   
}

@keyframes moveInDown {
    0% {
        transform: translateY(-300px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    } 
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-300px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    } 
}

@keyframes fadeInUp {
    0% {
        transform: translateY(300px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    } 
}

@keyframes pulse512 {
 0% {
  box-shadow: 0 0 0 0 #05badaab;
 }

 70% {
  box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
 }

 100% {
  box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
 }
}